# IntelliJ IDEA
.idea/

# Compiled files
*.class
*.jar
*.war
*.ear
target/

# Dependency directories
lib/
libs/

# Build directories
out/
build/
dist/
bin/

# IDE-specific files
*.iml
*.ipr
*.iws
*.log
.idea_modules/

# Maven-specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle-specific files
.gradle/
build/


logs.txt